<!-- views/blogs/no-blogs.ejs -->
<div class="no-blogs">
    <h2>No blogs available yet</h2>
    <p>Be the first to add a blog or check back later.</p>
    <a href="/addblog">Add a Blog</a>
  </div>
  