<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register & Login</title>
    <link rel="stylesheet" href="../css/Login.css" />
  </head>
  <!-- <body>
    <h1>Register</h1>
    <form action="/login" method="post">
        <input type="email" name="email" id="">
        <input type="password" name="" id="">
        <button type="submit">Login</button>
    </form>
</body> -->
  <body>
    <div class="wrapper">
      <div class="card-switch">
        <label class="switch">
          <!-- <input type="checkbox" class="toggle" disabled /> -->
          <input type="checkbox" class="toggle"  />

          <span class="slider"></span>
          <span class="card-side"></span>
          <div class="flip-card__inner">
            <div class="flip-card__front">
              <div class="title">Log in</div>
              <form class="flip-card__form" action="/login" method="post">
                <input
                  class="flip-card__input"
                  name="email"
                  placeholder="Email"
                  type="email"
                />
                <input
                  class="flip-card__input"
                  name="password"
                  placeholder="Password"
                  type="password"
                />
                <p  style="color: red;"><%= errorMessage %></p>
                <button class="flip-card__btn" type="submit">Let`s go!</button>
              </form>
            </div>
            <div class="flip-card__back">
              <div class="title">Sign up</div>
              <form class="flip-card__form" action="/Register" method="post">
                <input
                  class="flip-card__input"
                  placeholder="Name"
                  type="name"
                  name="name"
                />
                <input
                  class="flip-card__input"
                  name="email"
                  placeholder="Email"
                  type="email"
                />
                <input
                  class="flip-card__input"
                  name="password"
                  placeholder="Password"
                  type="password"
                />
                <p  style="color: red;"><%= errorMessage %></p>
                <button class="flip-card__btn" type="submit">Confirm!</button>
              </form>
            </div>
          </div>
        </label>
      </div>
    </div>
    
      <%- data.change %>
    
  </body>
</html>
