*{
    margin: 0;
    padding: 0;
    /* background: var(--light-1, #FBFBFB); */
    font-family: 'Borel', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
}
.card {
    width: 280px;
    height: 280px;
    background: white;
    border-radius: 32px;
    padding: 3px;
    position: relative;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
  }
  
  .card .mail {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
  }
  
  .card .mail svg {
    /* stroke: #fbb9b6; */
    stroke: #000000;
    /* stroke: #323232; */
    stroke-width: 3px;
  }
  
  .card .mail svg:hover {
    /* stroke: #f55d56; */
    stroke: #323232;
  }
  
  .card .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border-radius: 29px;
    z-index: 1;
    /* border: 0px solid #fbb9b6; */
    border: 0px solid #323232;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
  }
  
  .card .profile-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card .profile-pic svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
  }
  
  .card .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    /* background: #fbb9b6; */
    background: #323232;
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  
  .card .bottom .content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 160px;
  }
  
  .card .bottom .content .name {
    display: block;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
  }
  
  .card .bottom .content .about-me {
    display: block;
    font-size: 0.9rem;
    color: white;
    margin-top: 1rem;
  }
  
  .card .bottom .bottom-bottom {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card .bottom .bottom-bottom .social-links-container {
    display: flex;
    gap: 1rem;
  }
  
  .card .bottom .bottom-bottom .social-links-container svg {
    height: 20px;
    fill: white;
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
  }
  
  .card .bottom .bottom-bottom .social-links-container svg:hover {
    /* fill: #f55d56; */
    /* fill: #323232; */
    fill: #000000;
    transform: scale(1.2);
  }
  
  .card .bottom .bottom-bottom .button {
    background: white;
    /* color: #fbb9b6; */
    color: #323232;
    border: none;
    border-radius: 20px;
    font-size: 0.6rem;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
  }
  
  .card .bottom .bottom-bottom .button:hover {
    /* background: #f55d56; */
    background: #323232;
    color: white;
  }
  
  .card:hover {
    border-top-left-radius: 55px;
  }
  
  .card:hover .bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  
  .card:hover .profile-pic {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    /* border: 7px solid #fbb9b6; */
    border: 7px solid #323232;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  }
  
  .card:hover .profile-pic:hover {
    transform: scale(1.3);
    border-radius: 0px;
  }
  
  .card:hover .profile-pic img {
    transform: scale(2.5);
    -o-object-position: 0px 25px;
    object-position: 0px 25px;
    transition: all 0.5s ease-in-out 0.5s;
  }
  
  .card:hover .profile-pic svg {
    transform: scale(2.5);
    transition: all 0.5s ease-in-out 0.5s;
  }


/* navbar */

  .sections{
    padding: 10px;
    
}
.nav{
    background: var(--light-1, #F0F0F0);
    display: flex;
    justify-content: space-around;
    height: 7vh;
    align-items: center;
}
.logo{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 2vh;
}
.logo p{
    font-size: larger;
    font-weight: bold;
}
.services ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 14vh;
}
.services li{
    /* width: 100%; */
    
}
.night{
    display: flex;
}
.nmode{
    width: 5vh;
    height: 5vh;
    border: none;
    background-repeat: no-repeat;
    background-image: url("../media10/shape.png");

}

/* Dashboard container */

.containdash{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* background: var(--light-1, #ffffff); */
    background: var(--light-1, #F0F0F0);
    height: 90vh;
    flex-direction: column;

}

/* Add Button */


.buttonAdd {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #222;
    --bg-color: #323232;
    --main-color: #dedede;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .buttonAdd, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .buttonAdd .button__text {
    transform: translateX(25px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .buttonAdd .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonAdd .svg {
    width: 20px;
    stroke: var(--main-color);
  }
  
  .buttonAdd:hover {
    background: var(--bg-color);
  }
  
  .buttonAdd:hover .button__text {
    color: transparent;
  }
  
  .buttonAdd:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .buttonAdd:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }
  /* body{
    display: flex;
    flex-direction: column;
  } */

  /* Number of Blogs */
  .stats {
    display: inline-grid;
    background-color: #111111;
    color: #fff;
    border-radius: 1rem;
    border: 1px solid gray;
  }
  
  .shadow {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
  
  .stat {
    display: inline-grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .stat-title {
    grid-column-start: 1;
    white-space: nowrap;
    color: rgb(197, 194, 194);
  }
  
  .stat-value {
    grid-column-start: 1;
    white-space: nowrap;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
  }
  
  .stat-desc {
    grid-column-start: 1;
    white-space: nowrap;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgb(197, 194, 194);
  }


  
/*logout*/
.Btn {
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--night-rider);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--af-white);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--af-white);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}