/* Global Styles */
body {
    font-family: 'Inter', sans-serif;
    background-color: #1C1C1E;
    color: #F5F5F7;
  }
  
  h1, h2 {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 1200px;
  }
  
  /* Primary and Secondary Colors */
  .text-primary {
    color: #4A90E2;
  }
  
  .bg-dark {
    background-color: #1C1C1E;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .text-textColor {
    color: #F5F5F7;
  }
  
  /* Shadow and Rounded Corners */
  .rounded-lg {
    border-radius: 12px;
  }
  
  .shadow-lg {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Spacing and Layout */
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .mt-8 {
    margin-top: 2rem;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  /* Comment Styles */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding-bottom: 1rem;
  }
  
  .text-gray-500 {
    color: #D1D1D6;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  